/* ? Styling for select2  plugin */
.select2-selection__rendered {
    color: #ffffff !important;
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    border: none !important;
    background-color: #30125e !important;
    height: 35px !important;
}

.select2-selection__arrow {
    background-color: #30125e !important;
    height: 34px !important;
}

.select2-container {
    background-color: #30125e !important;
}

.select2-container>* {
    background-color: #30125e !important;
}

/* ? styling to turn off bootstrap signature glow */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    color: rgb(99, 97, 158);
    font-weight: bolder;
    background-color: #160429;
    border-color: #63619ecc;
    box-shadow: 0 5px 5px #00000013 inset, 0 0 10px #63619e99;
    outline: 0 none;
}

/* ! changing headings glow */
h3.text-primary {
    text-shadow: 0 0 1px rgb(99 97 158 / 60%), 0 0 3px rgb(99 97 158 / 50%),
        0 0 0.5rem rgb(99 97 158 / 30%),
        0 0 2rem rgb(99 97 158 / 20%);
}

/* ! highlighting results in results card */
.result_highlights {
    color: #b08fec;
    text-decoration: underline;
    text-shadow: 0 0 1px rgb(99 97 158 / 60%), 0 0 3px rgb(99 97 158 / 50%), 0 0 0.5rem rgb(99 97 158 / 30%), 0 0 2rem rgb(99 97 158 / 20%);
}

/* !controlling particle.js div */
canvas {
    display: block;
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* ? CSS Custom Border Animation */
.shadow-custom {
    box-shadow: 16px 14px 20px #0f01248c;
}

.card_border_animate {
    position: relative;
    overflow: hidden;
}

.card_border_animate::before {
    content: "";
    background: conic-gradient(#6f42c1 20deg,
            transparent 120deg);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}