.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.select2-container {
    background-color: #30125e !important;
}

.select2-container>* {
    background-color: #30125e !important;
}